<html>
<head> Welcome to record </head>

<body>
<p> On this page you can recording to us, in BARBERSHIT :) </p>

<form action = "visit" method ="POST" role = "form">
	<div class="form-group">
		<label> Enter you name: </label>
		<input name="username" type="text" class="form-control" placeholder="You name" value = "<%= @username %>">
	</div>

	<div class="form-group">
		<label> Enter you phone: </label>
		<input name="phone" type="text" class="form-control" placeholder="You phone" value = "<%= @phone%>" >
	</div> 

	<div class="form-group">
		<label> When do you wait: </label>
		<input name="datetime" type="text" class="form-control" placeholder="Enter datetime" value = "<%=@datetime%>">
	</div>

	<div class="form-group">
		<label> Barberbitch: </label>
		<select name="barber" class="form-control">
	      <option <%= @barber == 'Barberbitch_1' ? 'selected' : '' %>>Barberbitch_1</option>
	      <option <%= @barber == 'Barberbitch_2' ? 'selected' : '' %>>Barberbitch_2</option>
	      <option <%= @barber == 'Barberbitch_3' ? 'selected' : '' %>>Barberbitch_3</option>
	      <option <%= @barber == 'Barberbitch_4' ? 'selected' : '' %>>Barberbitch_4</option>
	      <option <%= @barber == 'Barberbitch_5' ? 'selected' : '' %>>Barberbitch_5</option>
	    </select>
	</div>	

<button type="submit" class="btn btn-primary">Recording</button>

</form>

</body>

</html>